/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

body {
	/* Positioning */
	/* Display & Box Model */
	margin: 0;
	padding: 0;

	/* Color */
	background-color: #b3c6d1;

	/* Text */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;

	/* Other */
}

button {
	/* Positioning */
	/* Display & Box Model */
	transition-duration: 0.4;
	height: 35px;
	width: 90px;
	border-width: 2px;
	border-radius: 8px;

	/* Color */
	background-color: #b7ddff;
	border-color: white;
	color: #034377;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

	/* Text */
	font-size: 12pt;
	font-weight: bold;

	/* Other */
	cursor: pointer;
}

button:focus {
	outline: none;
}

.cursor-wait {
	cursor: wait;
}

.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

.space-around {
	justify-content: space-around;
}

.text-center {
	font-size: 22pt;
	text-align: center;
}

.color-dark {
	background-color: #689fff;
	color: black;
}

.color-white {
	background-color: white;
}

.large {
	padding: 14px 20px;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}
