.Device {
	/* Positioning */
	justify-content: space-between;
	align-items: center;

	/* Display & Box Model */
	display: flex;
	margin: 4px 0;
	padding: 10px;

	/* Color */
	background-color: #f4f8ff;
	/* Text */
	font-size: 14pt;
	font-weight: bold;
	/* Other */
	user-select: none;
}

.Device:hover {
	/* Positioning */
	/* Display & Box Model */
	/* Color */
	background-color: grey;
	/* Text */
	/* Other */
	cursor: pointer;
}

.Device .device-name {
	display: flex;
	align-items: center;
}

.Device .remove {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 14px;
	height: 14px;
	color: white;
	border: 1px solid grey;
	background-color: red;
	border-radius: 14px;
	cursor: pointer;
	font-size: 12pt;
	margin-right: 3px;
}

.Device .remove:hover {
	border-color: black;
}

.status {
	/* Positioning */
	display: inline-block;

	/* Display & Box Model */
	height: 16px;
	width: 30px;
	border-radius: 8px;
	border: 1px solid grey;

	/* Color */
	background-color: yellow;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
	/* Text */
	/* Other */
}
