.Form {
	/* Positioning */

	/* Display & Box Model */
	border-radius: 5px;
	overflow: hidden;
	width: 350px;
	margin: 10px;
	padding: 20px;
	box-sizing: border-box;

	/* Color */
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	/* Text */
	/* Other */
	user-select: none;
}

.Form .content {
	margin: 10px 0 10px 0;
}

.Form button {
	height: 35px;
	width: 100%;
	border-radius: 3px;
	border: none;
}

.Form button:hover {
	color: white;
	border: 1px solid white;
}

.Form label[for="lecturer"],
.Form label[for="viewer"] {
	display: inline;
	font-size: 12pt;
	margin-left: 2px;
}

.Form input[type="radio"] {
	display: inline;
	vertical-align: middle;
	margin-top: -1px;
	height: auto;
	width: auto;
}

.Form p {
	width: 80%;
	margin: auto;
	text-align: center;
}

.Form .user-type {
	display: inline-block;
	margin: 10px 10px 0 0;
}

.Form .form-nav {
	display: flex;
	justify-content: space-between;
	padding: 5px 0 0 0;
}

.Form .nav-button {
	color: grey;
	cursor: pointer;
}

.Form .loading {
	padding: 5px 0 5px 10px;
	font-size: 14pt;
	color: red;
}

.Form .errors {
	padding: 5px 0 5px 10px;
	font-size: 10pt;
	color: red;
}
