.FormTextInput label {
	display: block;
	margin: 10px 0 5px 0;

	font-size: 14pt;
	color: grey;
	user-select: none;
}

.FormTextInput input {
	display: block;
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	padding: 10px;
	border: 1px solid grey;

	font-size: 14pt;
}

.FormTextInput textarea {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	border: 1px solid grey;
	font-size: 14pt;
}

.error input {
	border: 2px solid red;
}

@media screen and (max-device-width: 800px) {
	.FormTextInput textarea {
		width: 100%;
	}
}


