.HeaderBar {
	/* Positioning */
	position: fixed;
	top: 0;
	align-items: center;
	justify-content: space-between;

	/* Display & Box Model */
	display: flex;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding: 5px 10px;

	/* Color */
	background-color: #689fff;
	box-shadow: 0 4px 6px #999;

	/* Text */
	/* Other */
}

.HeaderBar img {
	/* Positioning */
	/* Display & Box Model */
	height: 40px;
	border-radius: 30px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

	/* Color */
	/* Text */
	/* Other */
	cursor: pointer;
}

.HeaderBar span {
	font-size: 20pt;
}

@media screen and (max-device-width: 500px) {
	.HeaderBar span {
		display: none;
	}
}
