.LoginRegisterForm {
	/* Positioning */

	/* Display & Box Model */
	border-radius: 5px;
	overflow: hidden;
	width: 350px;
	margin: 10px;
	padding: 20px;
	box-sizing: border-box;

	/* Color */
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	/* Text */
	/* Other */
}

.LoginRegisterForm .content {
	margin: 10px 0 10px 0;
}

.LoginRegisterForm button {
	height: 35px;
	width: 100%;
	border-radius: 3px;
	border: none;
}

.LoginRegisterForm button:hover {
	color: white;
	border: 1px solid white;
}

.LoginRegisterForm label[for="lecturer"],
.LoginRegisterForm label[for="viewer"] {
	display: inline;
	font-size: 12pt;
}

.LoginRegisterForm input[type="radio"] {
	display: inline;
	vertical-align: middle;
	margin-top: -1px;
	height: auto;
	width: auto;
}

.LoginRegisterForm .user-type {
	display: inline-block;
	margin: 10px 10px 0 0;
}

.LoginRegisterForm nav {
	display: flex;
	justify-content: space-between;
	padding: 5px 0 0 0;
}

.LoginRegisterForm #register,
.LoginRegisterForm #recover {
	color: grey;
	cursor: pointer;
}

.LoginRegisterForm .loading {
	padding: 0 0 5px 10px;
	font-size: 14pt;
	color: red;
}

.LoginRegisterForm .errors {
	padding: 0 0 5px 10px;
	font-size: 10pt;
	color: red;
}

.cursor-wait {
	cursor: wait;
}
