.Modal {
	/* Positioning */
	position: fixed;
	top: 0;
	left: 0;
	/* Display & Box Model */
	width: 100%;
	height: 100%;
	/* Color */
	background: rgba(0, 0, 0, 0.6);
	/* Text */
	/* Other */
}

.Modal section {
	/* Positioning */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Display & Box Model */
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	box-sizing: border-box;

	/* Color */
	background: white;
	/* Text */
	/* Other */
}

.Modal .ModalContent {
	position: relative;
	padding: 5px 20px 10px 20px;
}

.Modal .ModalContent img {
	width: 100%;
	height: 200px;
	margin: 10px 0 0 0;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.Modal button {
	height: 35px;
	width: auto;
	margin: 0 0 0 5px;
	padding: 0 15px;
	border-radius: 5px;
	border-width: 1px;
	border-color: grey;
	font-weight: normal;
}

.Modal #primary {
	background-color: #689fff;
	color: white;
}

.Modal #secondary {
	background-color: white;
	border-width: 1px;
	border-color: grey;
	color: black;
}

.Modal .loading {
	padding: 10px 0 0 0;
	font-size: 14pt;
	color: red;
}

.Modal .errors {
	padding: 10px 0 0 0;
	font-size: 12pt;
	color: red;
}

.Modal .footer {
	display: flex;
	justify-content: space-between;
}

.Modal #buttons {
	margin: 0 10px 10px 10px;
}

.footer #status {
	margin: 8px 0 0 20px;
	color: red;
	font-weight: bold;
}

@media screen and (max-device-width: 400px) {
	.Modal section {
		width: 95%;
	}
}
