.TitleBar {
	/* Positioning */
	/* Display & Box Model */
	padding: 8px 20px;
	margin: 0;

	/* Color */
	background-color: #b7ddff;
	color: #034377;

	/* Text */
	/* Other */
}

.text-center {
	font-size: 22pt;
	text-align: center;
}

.color-dark {
	background-color: #689fff;
	color: black;
}

.color-white {
	background-color: white;
}

.large {
	padding: 14px 20px;
}
