.VideoList {
	/* Positioning */
	/* Display & Box Model */
	width: 800px;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;

	/* Color */
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* Text */
	/* Other */
	user-select: none;
}

.VideoList ul {
	/* Positioning */
	/* Display & Box Model */
	max-height: 800px;
	margin: 10px;
	padding: 0 10px 0 0;
	list-style-type: none;
	overflow-y: scroll;

	/* Color */
	/* Text */
	/* Other */
}

.VideoList .no-video {
	text-align: center;
	margin: 10px;
	font-style: italic;
	color: grey;
}

@media screen and (max-device-width: 1050px) {
	.VideoList {
		width: 100%;
	}
}
