.Video {
	/* Positioning */
	/* Display & Box Model */
	display: flex;
	flex-wrap: wrap;
	margin: 8px 0;
	padding: 5px 10px;
	/* Color */
	background-color: #f4f8ff;
	/* Text */
	/* Other */
}

.Video:hover {
	/* Positioning */
	/* Display & Box Model */
	/* Color */
	background-color: grey;
	/* Text */
	/* Other */
	cursor: pointer;
}

.Video video {
	/* Positioning */
	/* Display & Box Model */
	display: inline-block;
	height: 150px;
	width: 250px;
	margin: 0 10px 0 0;
	/* Color */
	/* Text */
	/* Other */
}

.Video h3 {
	margin: 0;
	font-size: 16pt;
}

.Video p {
	font-size: 11pt;
	max-width: 400px;
}

.Video .summary {
	font-size: 9pt;
}

.Video .video-content {
	display: flex;
	align-items: center;
}

.Video .remove {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 14px;
	height: 14px;
	color: white;
	border: 1px solid grey;
	background-color: red;
	border-radius: 14px;
	cursor: pointer;
	font-size: 12pt;
	margin-right: 3px;
}
